nav.main-nav
  ul(role="menu")
    li(role="menuitem")
      a(href="#") Программы
    li(role="menuitem")
      a(href="#!") Акции
    li(role="menuitem")
      a(href="#!") Отзывы
    li(role="menuitem")
      a(href="#!") Доставка
    li(role="menuitem")
      a(href="#!") Оплата
    li(role="menuitem")
      a(href="#!") Вопрос - ответ
    li(role="menuitem")
      a(href="#!") Блог
    li(role="menuitem")
      a(href="#!") О компании
