.product-cards
  include ./../product-card/product-card.pug
  include ./../product-card/product-card.pug
  include ./../product-card/product-card.pug
  include ./../product-card/product-card.pug
  include ./../product-card/product-card.pug
  include ./../product-card/product-card.pug
  include ./../product-card/product-card.pug