button.btn.btn-cart
  svg(width="50" height="40")
    use(xlink:href="./assets/img/icons/sprite.svg#cart" width="50" height="40" alt="Корзина")
  div.btn-cart__content
    span Товаров: 0 шт.
    span 0 руб.