header.header 
  .container
    .header__inner
      .header__inner-top
        include ./../../bem-blocks/phone/phone.pug 
        include ./../../bem-blocks/header-text/header-text.pug 
        include ./../../bem-blocks/logo/logo.pug
        include ./../../bem-blocks/header-btns/header-btns.pug
      .header__inner-bottom
        include ./../../bem-blocks/main-nav/main-nav.pug
        include ./../../bem-blocks/search/search.pug