nav.product-nav
  ul(role="menu")
    li(role="menuitem")
      a(href="#").active Все
    li(role="menuitem")
      a(href="#!") Суши
    li(role="menuitem")
      a(href="#!") Бургеры
    li(role="menuitem")
      a(href="#!") Пицца
    li(role="menuitem")
      a(href="#!") Шаурма
    li(role="menuitem")
      a(href="#!") Мясо
    li(role="menuitem")
      a(href="#!") Салаты
    li(role="menuitem")
      a(href="#!") Супы
    li(role="menuitem")
      a(href="#!") Напитки