.btn {
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  white-space: nowrap;
  border-radius: 10rem;
  outline: none;
  border: none;
  background-color: #FE5F00;
  cursor: pointer;
}